@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary: rgba(84, 95, 113, 1);
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
